# Node.js
node_modules/
npm-debug.log
.env

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.ios/
.android/
build/

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Temporary files
*.tmp
*.temp
temp/
tmp/
